Repository keptn/keptn.github.io, pull requests merged in 2021-12, with the labels that each got.

#978 Shaping the use-case around quality gates to emphasize release/deployment validation
  content/docs/concepts/performance_validation/index.md
  content/docs/concepts/quality_gates/index.md
Labels: documentation

#990 Document community.cncf.io as a new platform for meetings
  content/community/_index.md
  content/community/meetings/index.md
Labels: enhancement, documentation, community

#989 Contributor Guide: Document non-code contributions
  CONTRIBUTING.md
  README.md
  content/community/contributing/index.md
Labels: contributing
