Repository keptn/keptn.github.io, pull requests merged in 2022-10, with the labels that each got.

#1473 Using Keptn to identify security vulnerabilities
  content/docs/0.19.x/define/_index.md
  content/docs/0.19.x/define/infracost/index.md
  content/docs/0.19.x/define/security/index.md
Labels: security, create-new-project

#1482 Landing banner updates
  assets/scss/components/_header.scss
  data/carousel.yaml
  layouts/index.html
  layouts/partials/announcement.html
  layouts/partials/intro.html
  static/images/home/carousel/keptn-lifecycle-controller.png
Labels: enhancement

#1478 Preserve tidbits from old QuickStart
  content/docs/0.19.x/troubleshooting/index.md
  content/docs/install/access/index.md
  content/docs/install/helm-install/index.md
  content/docs/install/troubleshooting/assets/docker-resources.png
  content/docs/install/troubleshooting/index.md
Labels: installation-docs

#1471 More architectural info for NATS, mongodb
  content/docs/0.19.x/reference/miscellaneous/distributor/index.md
  content/docs/concepts/architecture/index.md
Labels: architecture
