Repository keptn/keptn.github.io, pull requests merged in 2022-06, with the labels that each got.

#1238 add shipyard ref, manage triggers, modify manage shipyard
  content/docs/0.16.x/manage/shipyard/index.md
  content/docs/0.16.x/manage/triggers/index.md
  content/docs/0.16.x/reference/files/shipyard/index.md
Labels: ref-page, create-new-project

#1252 Configuration section rather than files
  content/docs/0.16.x/reference/files/_index.md
  content/docs/0.16.x/reference/files/sli/index.md
  content/docs/0.16.x/reference/files/slo/index.md
Labels: ref-page

#1250 restructure remediation information
  content/docs/0.15.x/automated_operations/remediation/index.md
  content/docs/0.16.x/automated_operations/_index.md
  content/docs/0.16.x/automated_operations/action-provider/index.md
  content/docs/0.16.x/automated_operations/remediation/index.md
  content/docs/0.16.x/manage/remediation-sequence/index.md
  content/docs/0.16.x/manage/shipyard/index.md
  content/docs/0.16.x/reference/files/action-provider/index.md
  content/docs/0.16.x/reference/files/remediation/index.md
  content/docs/0.16.x/reference/files/shipyard/index.md
Labels: create-new-project

#1276 Moving static file to correct folder
  static/google90258e79df368ea0.html
Labels: bug
